<b> BASICS: </b> print function, variables, variable types, strings, operations, booleans.

Create `pi` variable with value of 3.14. Create `r` variable with value of 12. Calculate the area of the circle and assign the result to new variable, `area`.

In [9]:
pi = 3.14
r = 12
area = 3.14 * r ** 2
print(area)

452.16

Change the type of variables `a`, `b` and `c` to numeric types (int or float) and calculate their sum.
Save the result to the variable `result` and display it on the screen.

In [10]:
a = "12"
b = "35.5"
c = True

In [12]:
result = int(a) + float(b) + int(c)
print(result)

48.5

Create 2 variables: `firstname` and `surname`, which will contain your first and last name.
<br>1) Concatenate these variables so that they are separated by a space and save the result to the fullname variable.
<br>2) Use the f-string to display the contents of the fullname variables, so that the contents of the variable are preceded by the words "My name is ".
<br>3) Display the total length of the firstname and surname variables.

In [13]:
firstname = 'Agata'
lastname = 'Radzikowska'

In [19]:
#1
fullname = firstname + ' ' + lastname
print(fullname)

#2
print(f'My name is {firstname} {lastname}.')

#3
print(len(firstname)+len(lastname))

Agata Radzikowska
My name is Agata Radzikowska.
16

<b> LISTS </b>

Below is a list `websites`.
<br> 1) What index is 'pinterest.com' under?
<br> 2) Replace the value of the fifth item with 'yahoo.com'.
<br> 3) Add a new item to the end of the list: 'bing.com'
<br> 4) Using indexing, create a sublist consisting of 'facebook.com', 'twitter.com'. Assign the result to the variable `social_networks`.
<br> 5) Extend the `websites` list with elements from the `polish_websites` list.
<br> 6) How many items are in the `websites` list now?

In [33]:
websites = ['google.com', 'facebook.com', 'twitter.com', 'pinterest.com', 'python.org']
polish_websites = ['onet.pl', 'interia.pl', 'wp.pl']

In [34]:
#1
websites.index('pinterest.com')

3

In [35]:
#2
websites[4] = 'yahoo.com'
print(websites)

['google.com', 'facebook.com', 'twitter.com', 'pinterest.com', 'yahoo.com']

In [36]:
#3
websites.append('bing.com')
print(websites)

['google.com', 'facebook.com', 'twitter.com', 'pinterest.com', 'yahoo.com', 'bing.com']

In [37]:
#4
social_networks = websites[1:3]
print(social_networks)

['facebook.com', 'twitter.com']

In [38]:
#5, #6
websites.extend(polish_websites)
len(websites)

List `l` containts 2 elements (lists). Create new list (`l_flat`) which contains each element from those two lists.

In [100]:
l = [[9, 8, 12, 7], [12, 33, 8, 7]]

In [101]:
l_flat1 = l[0]+l[1]
print(l_flat1)

[9, 8, 12, 7, 12, 33, 8, 7]

Using the `numbers` list:
<br> 1) Display the second item on the screen.
<br> 2) Count how many elements of the list have the value 7 (use the `count` method).
<br> 3) How many items does the list contain?
<br> 4) How do you check what is the largest value contained in the list?

In [102]:
numbers = [1, 8, 6, 6, 6, 7, 2, 0, 3, 0, 2, 3, 7, 0, 7, 2, 0, 3, 9, 4]

In [103]:
#1
numbers[1]

8

In [105]:
#2
numbers.count(7)

3

In [106]:
#3
len(numbers)

20

In [107]:
#4
max(numbers)

9

The iris_setosa list contains information about 4 specimens of the bristle iris:
<br> The first index is the length of the flower.
<br> The second index is the width of the flower.
<br> The third index is the length of the leaf.
<br> The fourth index is the width of the leaf.
<br><br>
1) Calculate the average flower width.
<br>2) Add data about a new copy to the list: (5.4, 3.9, 1.7, 0.4)

In [2]:
iris_setosa  = [
    [5.1, 3.5, 1.4, 0.2],
    [4.9, 3, 1.4, 0.2],
    [4.7, 3.2, 1.3, 0.2],
    ]

In [5]:
#1
sr_wlk_kwiata = (iris_setosa[0][0] * iris_setosa[0][1] +
                 iris_setosa[1][0] * iris_setosa[1][1] +
                 iris_setosa[2][0] * iris_setosa[2][1]) / 3

print(round(sr_wlk_kwiata,2))

15.86

In [6]:
#2
iris_setosa.append([5.4, 3.9, 1.7, 0.4])
print(iris_setosa)

[[5.1, 3.5, 1.4, 0.2], [4.9, 3, 1.4, 0.2], [4.7, 3.2, 1.3, 0.2], [5.4, 3.9, 1.7, 0.4]]

<b> DICTIONARIES </b>

Using the following dictionary, which contains information from WikiData about Adam Mickiewicz, complete the following tasks:
<br>1) Display A. Mickiewicz's place of birth.
<br>2) Calculate how many years A. Mickiewicz lived.
<br>3) Add a new `place of death` key with value `Istanbul`.
<br>4) Replace the value of the `place of birth` key with `Zaosie`.
<br>5) Add a new key `spouse` whose value is the dictionary `cecylia_data`.
<br>6) Display the number of list items that are under the `occupation` key.
<br>7) Display the name of A. Mickiewicz's wife.

In [42]:
data = {
    'name': 'Adam',
    'surname': 'Mickiewicz',
    'native language': 'polish',
    'year of birth': 1798,
    'place of birth': 'Zavosse',
    'year of death': 1855,
    'occupation': ['poet', 'professor', 'playwright']}

cecylia_data = {
    'name': 'Cecylia',
    'surname': 'Szymanowska' }

In [45]:
#1
print(data['place of birth'])

Zavosse

In [46]:
#2
print(data['year of death']-data['year of birth'])

57

In [52]:
#3
data['place of death']='Istanbul'
print(data['place of death'])

Istanbul

In [53]:
#4
data['place of birth'] = 'Zaosie'
print(data['place of birth'])

Zaosie

In [54]:
#5
data['spouse']=cecylia_data
print(data['spouse'])

{'name': 'Cecylia', 'surname': 'Szymanowska'}

In [55]:
#6
print(len(data['occupation']))

3

In [56]:
#7
print(data['spouse']['name'])

Cecylia

Create dictionary `warehouse` based on list `fruits`. Append elements of a list to dictionary as keys, assign default value 5 to each key.

In [52]:
fruits = ['apple','banana','strawberry','pineapple','orange']
warehouse = {}

In [54]:
warehouse = {x:5 for x in fruits}

In [55]:
warehouse

{'apple': 5, 'banana': 5, 'strawberry': 5, 'pineapple': 5, 'orange': 5}

<b>IF, ELIF, ELSE</b>

Check if the text 'aAaAaA' is in the passwords array. Depending on whether it is present or not, display the appropriate message on the screen.

In [61]:
haslo = 'aAaAaA'
haslo2 = 'aAaAaAaaa'
passwords = ['aaAaa', 'aAAAaa', 'aaaaaaA', 'aaaAAAAA', 'aaAAAaa', 'aAaAaA', 'aAaAaAA']

In [67]:
if haslo in passwords:
    print(f'Password {haslo} is on the list, position #{passwords.index(haslo)+1}.')
else:
    print(f'Password {haslo} is NOT the list.')

Password aAaAaA is on the list, position #6.

In [69]:
if haslo2 in passwords:
    print(f'Password {haslo2} is on the list, position #{passwords.index(haslo2)+1}.')
else:
    print(f'Password {haslo2} is NOT the list.')

Password aAaAaAaaa is NOT the list.

Let `x` be the number of points obtained. The standard grading scale is as follows:
<br> x >= 90 -- 5.0
<br> 90 > x >= 80 -- 4.5
<br> 80 > x >= 70 -- 4.0
<br> 70 > x >= 60 -- 3.5
<br> 60 > x >= 50 -- 3.0
<br> x < 50 -- 2.0
<br> The `points` variable contains the number of points obtained by the student. Write a conditional statement that displays the student's grade based on the number of points.

In [174]:
points = 85

In [175]:
grades = {
        range(0, 50) : '2.0',
        range(50, 60) : '3.0',
        range(60, 70) : '3.5',
        range(70, 80) : '4.0',
        range(80, 90) : '4.5',
        range(90, 100) : '5.0'
          }

In [178]:
for key in grades:
    if points in key:
        print(f'You got {grades[key]}.')

You got 4.5.

<b> FOR </b>

List `l` containts 2 elements (lists). Create new list (`l_flat`) which contains each element from those two lists.

In [98]:
l = [[9, 8, 12, 7], [12, 33, 8, 7]]

In [61]:
l_flat2 = [x for y in l for x in y]
print(l_flat2)

[9, 8, 12, 7, 12, 33, 8, 7]

The iris_setosa list contains information about 4 specimens of the bristle iris (...)
<br>
1) Calculate the average flower width using FOR.

In [10]:
wlk = 0

for n, flower in enumerate(iris_setosa):
    wlk += (flower[0] * flower[1])
sr_wlk_kwiata2 = wlk / (n+1)
print(f"Średnia wielkość kwiata: {sr_wlk_kwiata2}.")

Średnia wielkość kwiata: 17.1625.

Create 2 new lists based on <b>l</b>: <b>even</b> with even numbers from l and <b>odd</b> with odd numbers.

In [56]:
l = [4, 5, 8, 9, 0, 3]
even = []
odd = []

In [57]:
for x in l:
    if x%2 == 0:
        even.append(x)
    else:
        odd.append(x)
print(even)
print(odd)

[4, 8, 0]
[5, 9, 3]

Display sum of numbers from 1 to 256.

In [72]:
x_sum = 0

for x in range(1,256):
    x_sum += x

print(x_sum)

32640

In [75]:
# Shorter version:
x_sum1 = sum([x for x in range(1,256)])
print(x_sum1)

32640

Display sum of even numbers from 1 to 256.

In [76]:
x_sum = 0

for x in range(1,256):
    if x%2 == 0:
        x_sum += x

print(x_sum)

16256

In [77]:
# Shorter version:
x_sum1 = sum([x for x in range(1,256) if x%2 == 0])
print(x_sum1)

16256

The `ratings` dictionary contains the ratings of several kids. The keys are the children's names, and the values are their grades. Complete the dictionary `distribution` with scores as keys and lists as values.

In [209]:
grades = {
    'Albert': 4.5,
    'Beata': 5,
    'Cecylia': 4,
    'Dariusz': 4,
    'Eliza': 3,
    'Feliks': 5,
    'Grzegorz': 4.5,
    'Izabela': 4.5
    }

distribution = {
    5: [],
    4.5: [],
    4: [],
    3: []
    }

In [211]:
for child, grade in grades.items():
    distribution[grade].append(child)
print(distribution)

{5: ['Beata', 'Feliks'], 4.5: ['Albert', 'Grzegorz', 'Izabela'], 4: ['Cecylia', 'Dariusz'], 3: ['Eliza']}

Below are 2 dictionaries with data on the number of city bike rides in Montreal in 2018, broken down by month.
The first dictionary contains information about trips made by subscription holders and the second by people who don't have a subscription. Data comes from https://montreal.bixi.com/en/open-data.
<br> 1) Create a third dictionary `all_rides` where you count the total number of rides in each month.
<br> 2) Using the `months` list, display how many trips were made in a given month. Assume there are 0 trips
in months that are missing from `all_rides`.
<br> 3) Calculate the percentage of occasional trips during the year.
<br> 4) Calculate the sum of recorded trips from April to November.
<br> 5) Do both groups have the highest number of trips in the same month? Try to find the answer without looking
to the values in the given dictionaries.

In [246]:
members = {'April': 211819, 'May': 682758, 'June': 737011, 'July': 779511, 'August': 673790,
           'September': 673790, 'October': 444177, 'November': 136791}

occasionals = {'April': 32058, 'May': 147898, 'June': 171494, 'July': 194316, 'August': 206809,
               'September': 140492, 'October': 53596, 'November': 10516}

months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
          'August', 'September', 'October', 'November', 'December']

In [311]:
#1
all_rides = {}

# That one will work only if there are EXACTLY the same keys in `members` and `occasionals`.
for month, rides in members.items():
    all_rides[month] = rides + occasionals[month]
print(all_rides)


# That one will work no matter what keys are in both dictionaries (as long as they exist in `months` list): 
all_rides1 = {}

for month in months:
   
    if month in members.keys() and month in occasionals.keys():
        all_rides1[month] = members[month] + occasionals[month]
    
    if month in members.keys() and month not in occasionals.keys():
        all_rides1[month] = members[month]
    
    if month not in members.keys() and month in occasionals.keys():
        all_rides1[month] = occasionals[month]
    
    else:
        pass

print(all_rides1)

{'April': 243877, 'May': 830656, 'June': 908505, 'July': 973827, 'August': 880599, 'September': 814282, 'October': 497773, 'November': 147307}
{'April': 243877, 'May': 830656, 'June': 908505, 'July': 973827, 'August': 880599, 'September': 814282, 'October': 497773, 'November': 147307}

In [328]:
#2 To display 0 for months with no rides, we need to create empty dictionary (0 rides in EACH month)
all_rides_full = {month:0 for month in months}

for month, rides in all_rides_full.items():
    
    if month in members.keys() and month in occasionals.keys():
        all_rides_full[month] += (members[month] + occasionals[month])
   
    if month in members.keys() and month not in occasionals.keys():
        all_rides_full[month] += members[month]
   
    if month not in members.keys() and month in occasionals.keys():
        all_rides_full[month] += occasionals[month]
    
    else:
        pass

print(all_rides_full)


# If we are certain, that there are exactly the same values in 'members' and 'occasionals':
all_rides_full = {month:0 for month in months}

for month, rides in all_rides_full.items():
    
    if month in members.keys():
        all_rides_full[month] += (members[month] + occasionals[month])

    else:
        pass

print(all_rides_full)

{'January': 0, 'February': 0, 'March': 0, 'April': 243877, 'May': 830656, 'June': 908505, 'July': 973827, 'August': 880599, 'September': 814282, 'October': 497773, 'November': 147307, 'December': 0}
{'January': 0, 'February': 0, 'March': 0, 'April': 243877, 'May': 830656, 'June': 908505, 'July': 973827, 'August': 880599, 'September': 814282, 'October': 497773, 'November': 147307, 'December': 0}

In [249]:
#3
sum_rides_members = 0
sum_rides_occasionals = 0

for month, rides in members.items():
    sum_rides_members += rides

for month, rides in occasionals.items():
    sum_rides_occasionals += rides

ratio = sum_rides_occasionals/(sum_rides_members+sum_rides_occasionals)

print(f'{round(ratio*100,2)} %.')

18.07 %.

In [ ]:
#4
sum_rides_members = 0
sum_rides_occasionals = 0

for month, rides in members.items():
    if month in ('April', 'May', 'June', 'July', 'August', 'September', 'October', 'November'):
        sum_rides_members += rides

for month, rides in occasionals.items():
    if month in ('April', 'May', 'June', 'July', 'August', 'September', 'October', 'November'):
        sum_rides_occasionals += rides

print(sum_rides_members)
print(sum_rides_occasionals)
print(sum_rides_members+sum_rides_occasionals)

In [262]:
#5
max_members = 0
max_occasionals = 0

for month, rides in members.items():
    if rides > max_members:
        max_members = rides
month_members = list(members.keys())[list(members.values()).index(max_members)]

for month, rides in occasionals.items():
    if rides > max_occasionals:
        max_occasionals = rides
month_occasionals = list(occasionals.keys())[list(occasionals.values()).index(max_occasionals)]

print(f'Month with highest number of rides (members): {month_members}.')
print(f'Month with highest number of rides (occasionals): {month_occasionals}.')

Month with highest number of rides (members): July.
Month with highest number of rides (occasionals): August.